<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Symphony Testing">
	<test thread-count="5" name="testngTest">
		<classes>
			<class name="com.filta.qa.login_test.LogIn_TestCase"/>
			<class name="com.filta.qa.login_test.LogInPage_TestCase"/>
			<class name="com.filta.qa.login_test.LogInInvalid_TestCase"/>
			<class name="com.filta.qa.login_test.ForgetPassword_TestCase"/>
			<class name="com.filta.qa.customer_test.FixedCost_TestCase"/>
			<class name="com.filta.qa.customer_test.PerFryer_TestCase"/>
			<class name="com.filta.qa.customer_test.PerLb_TestCase"/>
			<class name="com.filta.qa.customer_test.PerFryer_TestCase"/>
			<class name="com.filta.qa.home_franchisee_test.HomePage_TestCase"/>
			<class name="com.filta.qa.home_franchisee_test.UserPage_TestCase"/>
		</classes>
	</test>
</suite>


